<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>В течение 5 минут вы можете обновить свой пароль</p>

<p>
    <label for="password">
        <input type="text" id="password" placeholder="Новый пароль">
    </label>
</p>

<p>
    <label for="password_check">
        <input type="text" id="password_check" placeholder="Подтвердите пароль">
    </label>

    <button onclick="update()">Обновить пароль</button>
</p>

<script src="{{ .Domain }}/js/update_password.js"></script>
</body>
</html>