<ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
        <div class="brown darken-2 white-text" style="height: 64px;">
            <div class="row">
                <p style="margin-top: 0">Админ панель</p>
            </div>
        </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="#!"><b>Статистика</b></a></li>

    <ul class="collapsible" data-collapsible="accordion">
        <li id="dash_users">
            <div id="dash_users_header" class="collapsible-header waves-effect"><b>Пользователи</b></div>
            <div id="dash_users_body" class="collapsible-body">
                <ul>
                    <li id="users_list">
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/users/">Список</a>
                    </li>

                    <li id="users_upload">
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/users/upload/">Добавить</a>
                    </li>
                </ul>
            </div>
        </li>

        <li id="dash_products">
            <div id="dash_products_header" class="collapsible-header waves-effect"><b>Продукты</b></div>
            <div id="dash_products_body" class="collapsible-body">
                <ul>
                    <li id="products_product">
                        <a class="waves-effect" style="text-decoration: none;" href="#!">Курсы</a>
                        <a class="waves-effect" style="text-decoration: none;"
                           href="http://localhost/admin/panel/video-lessons/">Видеоуроки</a>
                        <a class="waves-effect" style="text-decoration: none;" href="#!">Мастерклассы</a>
                    </li>
                </ul>
            </div>
        </li>


    </ul>
</ul>