<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Здравствуйте!</h1>
<div>Ваш пароль на <a href="{{ .Url }}">сайте</a> был обновлен!</div>
<div>Для входа в личный кабинет используйте в качестве логина Ваш email. А в качестве пароля следующий набор
    символов:<br><br>
    <h2><b>{{ .Password }}</b></h2><br></div>
<p style="color: tomato">Пожалуйста, если Вы не обновляли пароль, в ответном письме опишите Вашу проблему и мы
    постараемся ее решить!</p>

</body>
</html>